/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.speaker {
    text-align: end;
    padding: 5px;
}

.speaker > * {
    font-size: 15px;
    padding: 5px;
    text-decoration: none;
    background-color: #4a4a4a;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}

/* Main */
main {
    background-color: lightcoral;
    border: 2px dashed black;
    padding-top: 40px;
    padding: 20px;
}

.box-main {
    border: 2px dashed black;
}

/* Footer */
footer {
    background-color: lightgreen;
    border: 2px dashed black;
}