/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole generali */
body {
    height: 100vh;
}

/* Header */
header {
    background-color: black;
    position: relative;
    width: 100%;
    top: 0;
}

.speaker {
    text-align: end;
    padding: 10px;
}

.speaker > * {
    font-size: 16px;
    padding: 7px;
    text-decoration: none;
    background-color: #4a4a4a;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
}

/* Main */
main {
    background-color: black;
    padding: 20px;
}

.box-main {
    width: 1300px;
    margin: 0 auto;
    border: 2px dashed black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    width: 100%;
}

.card {
    border: 2px dashed black;
    width: calc(100% / 7);
    position: relative;
    margin-bottom: 10px;
}

.name {
    position: absolute;
    bottom: 4px;
    left: 0px;
    background-color: rgba(98,111,124,0.5);
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    
}

/* Footer */
footer {
    background-color: lightgreen;
    border: 2px dashed black;
}